.login {
  height: 100vh;

  background-image: linear-gradient(150deg, #2E22AC, #DF4B9C);

  h1 {
    color: white;
    font-size: 50px;
    margin: 0;
    padding: 200px 0;
  }

  a {
    button {
      border: solid 1px;
      border-color: red;
      border-radius: 10px;
      background-color: #46289C;
      color: red;
      font-size: 16px;
      margin: 5px;
      height: 35px;
      width: 250px;
      transition: all 0.2s;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
  // button {
  //   border: solid 1px;
  //   border-color: red;
  //   border-radius: 10px;
  //   background-color: #46289C;
  //   height: 35px;
  //   width: 250px;
  //   margin: 5px;
  //   a {
  //     color: red;
  //     text-decoration: none;
  //     font-size: 16px;
  //   }
  // }
}

